@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #45C4B0, #9AEBA3);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 12px;
    box-shadow: 8px 8px 16px #29766abb ;
    width: 600px;
    padding: 16px;
    margin:auto;
    margin-top: 64px;
}

h1 {
    color: #034f74;
    text-align: center;
    text-shadow: 2px 2px 2px #012030;
}

h2 {
    color: #13678A;
}

p {
    text-align: justify;
}