@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1d1d1d;
}

main {
    margin: auto;
    width: 72vw;
    text-align: center;
}

h1 {
    color: #ffffff;
}

iframe {
    width: 100%;
    height: 64vh;
    display: block;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}

a img {
    width: 80px;
    height: 80px;
}