@charset "UTF8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.7em;
}

ul {
    font-size: 1.5em;
}

li {
    font-size: 1.2em;
}